{% extends '@webshop/base.html.twig' %}

{% block title %}Product Catalog{% endblock %}

{% block stylesheets %}
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        .button {
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            background-color: #4CAF50;
        }
    </style>
{% endblock %}

{% block body %}
    {% if cart %}
    <table>
        <table>
            <tr>
                <th>sku</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
            {% for item in cart.items %}
                <tr>
                    <td>{{ item.sku }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.price }}</td>
                </tr>
            {% endfor %}
    </table>
        Cart Total: {{ cart.getTotal }}
    {% else %}
        <div>Your cart is empty</div>
    {% endif %}
{% endblock %}